html,body{
    margin:0;
    Padding:0;
    height:auto;
    width:auto;
    font:62.5px;
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    font=size:12px;
}
header{
    margin:0;
    height:50px;
    width:100%;
    border: #d2d2d2 2px solid;
} 
#top{
    width: 100%;
    height: 50px;
}

#explore_link{
    width: calc(100%/5);
    height:100%;
    float:left;
    position:relative;
   line-height:50px;
    text-align:center;
    display:inline-block;
    
}


a:hover{
    color:#56cc9d; 
}


#div_img{ 
    max-height:80%;
    width:calc(100%/5);
    float: left;
    display:block;
    text-align:center;
}


#img_logo{
    margin:0 auto;
    height:50px;
    width:50;
    display:inline-block;
}


#login_sign{
    width: calc(100%/5);
    height:100%;
    float:right;
    line-height:50px;
    display:inline-block;
}
#log_link{
    height:100%;
    width: 40%;
    float:left;
    position:relative;
    line-height:50px;
    text-align:center;
    display:inline-block;
   
}
a{
   color:#110202;
    text-decoration:none;
    
}

#sign_link{
  height:50px;
  width:60%;
  float:right;
  position:relative;
  text-align:center;  
  line-height:50px;
  display:inline-block;
  background-color:#56cc9d;
    
}


/*icons*/

#fa_fa_bars{
    
    float:left;
    visibility:hidden;
    background-color:chartreuse;
        
}


main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url("http://i.imgur.com/RtIG5AV.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    background-size:100%;
    
}

#sec_zipcode{
    margin:0 auto;
    text-align:center;
    display:block;
    
}

#div_title{
    margin:5px;
    font-size:40px;
    text-transform:capitalize;
    color:#ffffff;
    text-align:center;
}


#zipcode{
    margin:5px;
    height:40px;
    width:500px;
    text-align:center;
   
}

#seeplans{
    margin:0
    padding:5px;
    height:40px;
    width:500px;
    text-align:center;
    color:#ffffff;
    background-color:#56cc9d;
}



/*#sign_in{
    float:right;
    visibility:hidden;
    background-color:brown;

}
*/

/*header media query*/






@media only screen and (max-width:420px){
       
        header{
           
            
        }
    div{
        height:100%;
        width:calc(100%/5)
    }
    #explore_link{
        visibility:hidden;
    }
    
    
    #sign_link{
       width:100%;
    }
    
   #fa_fa_bars{
      height:30px;
      width:30px;
      text-align:center;
      line-height:30px;
      float:left;
      visibility: visible;
     }
   
    
    #sign_in{
      height:30px;
      width:30px;
      text-align:center;
      line-height:30px;
      float:left;
      visibility: visible;
     }
    
    
    
    #img_logo{
        width: 100%;
    }
        #top{
          
        }
    #log_link{
        visibility: hidden;
    }
        #login_sign{
           
        }
  
}



