html,body{
    margin:0;
    Padding:0;
    height:auto;
    width:auto;
    font:62.5px;
    box-sizing:border-box;
}
header{
    height:60px;
    width:100%;
    border: #d2d2d2 2px solid;
   
    
} 
#explore_link{
    height:40px;
    width:70px;
    float:left;
    position:relative;
    bottom:-15px;
    font-size:20px;
}
a:hover{
    color:#56cc9d; 
}

#div_img{
    max-height:80%;
    width:auto;
    text-align:center;
}

#img_logo{
    margin-top:5px;
    height:50px;
    width:auto;
  
    
}

#log_link{
    height:100%;
    width:80px;
    float:right;
    position:relative;
    text-align:center;
    line-height:50px;
    top:-49px;
    font-size:20px;
}
#sign_link{
    height:100%;
    width:80px;
    float:right;
    position:relative;
    text-align:center;
    line-height:50px;
    top:-49px;
    font-size:20px;
    background-color:#56cc9d
}
a{
   color:#110202;
    text-decoration:none;
    
}

/*header media query*/

/*Custom, iPhone Retina */
@media only screen 
    and (min-width:320px)
     and(max-width: 479px)
        {img{width:calc(5rem/1)
            height:auto;
            transform:trasnlateY(20%);
        }
         #log_link{width:calc(80%/1)
            height:auto;
            transform:trasnlateY(20%);
                
         }
            
        }
}
